
Python (Recommended Version: 3.10 or 3.11)
IDE, e.g., spyder, vs code etc
streamlit (Recommended Version: >= 1.0.0)
pandas
matplotlib (Recommended Version: >= 3.5)
spaCy (Recommended Version: >= 3.0)
transformers (Recommended Version: >= 4.0.0)
torch
numpy (Recommended Version: >=1.21,<2.0)